.card {
  display: flex;
  flex-flow: column nowrap;

  &_selected {
    background-color: aquamarine;
  }


  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  &__info {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #6C6C6C;

    :after {
      position: absolute;
      right: -5px;
      content: "";
      width: 1px;
      height: 13px;
      background-color: #000;
    }
  }
}